<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- if site.author %}
        <ul class="contact-list">
          {%- if site.author.name -%}
            <li class="p-name">&copy; {{ site.time | date: '%Y' }}, {{ site.author.name }}</li>
          {%- endif -%}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <div class="social-links right">
          {%- include social.html -%}
        </div>
      </div>
    </div>
  </div>

</footer>
