<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.copyright | escape }}</p>
      </div>
      <div class="footer-col right">
        <div class="social-links">
          <a href="https://itsgg.medium.com" target="_blank">Medium</a> /
          <a href="https://github.com/itsgg" target="_blank">Github</a> /
          <a href="https://twitter.com/itsgg" target="_blank">Twitter</a> /
          <a
            href="https://www.youtube.com/channel/UCbNf5yOxDcr9H_vw_qEEuqw"
            target="_blank"
            >Youtube</a
          >
          /
          <script language="javascript">
            user = "me";
            site = "itsgg.com";
            document.write('<a href="mailto:' + user + "@" + site + '">');
            document.write("Email</a>");
          </script>
        </div>
      </div>
    </div>
  </div>
</footer>
