<footer class="site-footer h-card">
  <div class="u-url" href="{{ '/' | relative_url }}"></div>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col right">
        <p>{{ site.copyright | escape }}</p>
        <a href="https://github.com/itsgg" target="_blank">Github</a> /
        <a href="https://twitter.com/itsgg" target="_blank">Twitter</a> /
        <a href="https://youtube.com/@its_gg" target="_blank">YouTube</a> /
        <a href="/blog/feed.atom" target="_blank">Feed</a>
      </div>
    </div>
  </div>
</footer>
