<div class="nav-items">
  <a class="nav-item {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
  {%- for path in include.paths -%}
    {%- assign hyperpage = site.pages | where: "path", path | first -%}
    {%- if hyperpage.title %}
      <span class="nav-separator">/</span>
      <a class="nav-item {% if page.url == hyperpage.url %}active{% endif %}" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a>
    {%- endif -%}
  {%- endfor %}
</div>
