img[alt$=">"] {
  padding-left: 10px;
  float: right;
}

img[alt$="<"] {
  padding-right: 10px;
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}
