img[alt$='>'] {
  padding-left: 5px;
  float: right;
}

img[alt$='<'] {
  padding-right: 5px;
  float: left;
}

.site-title,
.page-link {
  color: #ffffff !important;
}

h1 {
  color: #e2e9f4 !important;
}

h2 {
  color: #c6d4ea !important;
}

h3 {
  color: #a9bedf !important;
}

h4 {
  color: #8da9d5 !important;
}

hr {
  border: 1px solid #333333;
}

img[alt$='><'] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

.right {
  float: right;
  text-align: right;
}

.profile_img {
  background: black;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.embed_img {
  background: black;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
  .profile_img {
    display: block;
    max-width: 100%;
    text-align: center;
    margin: auto;
    float: none !important;
  }
}

.site-header {
  background-color: #111;
  border-top: 5px solid #111;
  border-bottom: 1px solid #222;
}

.site-footer {
  background-color: #111;
  border-top: 1px solid #222;
}
