img[alt$='>'] {
  padding-left: 5px;
  float: right;
}

img[alt$='<'] {
  padding-right: 5px;
  float: left;
}

.site-title,
.page-link {
  color: #ffffff !important;
  text-decoration: none !important;
}

.siite-title:hover,
.page-link:hover {
  color: #bbbbbb !important;
}

h1 {
  color: #e2e9f4 !important;
}

h2 {
  color: #c6d4ea !important;
}

h3 {
  color: #a9bedf !important;
}

h4 {
  color: #8da9d5 !important;
}

h1 a, h2 a, h3 a {
  text-decoration: none !important;
}

hr {
  border: 1px solid #333333;
}

img[alt$='><'] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

.right {
  float: right;
  text-align: right;
}

.profile_img,
.embed_img {
  background: black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.profile_img {
  height: 200px;
  width: 200px;
}

.embed_img {
  height: 500px;
  width: 500px;
}

@media (max-width: 600px) {
  .profile_img {
    display: block;
    max-width: 100%;
    text-align: center;
    margin: auto;
    float: none !important;
  }
}

.site-header {
  background-color: #111;
  border-top: 5px solid #111;
  border-bottom: 4px solid #222;
}

.site-footer {
  background-color: #111;
  border-top: 4px solid #222;
}

.footer-col-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-col:first-child {
  flex: 1;
}

.footer-col:last-child {
  flex: 2;
}

.contact-list li {
  margin-top: 15px;
}

.small-text {
  font-size: 0.8em;
}

#toc {
  border: 4px solid #202020;
  background-color: #222;
  padding: 20px 40px;
  margin: 20px 0;
  li {
    list-style-type: disc;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
