img[alt$='>'] {
  padding-left: 5px;
  float: right;
}

img[alt$='<'] {
  padding-right: 5px;
  float: left;
}

.site-title,
.page-link {
  color: #ffffff !important;
  text-decoration: none !important;
}

.siite-title:hover,
.page-link:hover {
  color: #bbbbbb !important;
}

h1 {
  color: #ffffff !important;
  a {
    color: #ffffff !important;
  }
}

h2 {
  color: #BDB76B !important;
  a {
    color: #BDB76B !important;
  }
}

h3 {
    color: #87CEEB !important;
  a {
    color: #87CEEB !important;
  }
}

h4 {
  color: #EEEEEE !important;
  a {
    color: #EEEEEE !important;
  }
}

h1 a, h2 a, h3 a {
  text-decoration: none !important;
}

hr {
  border: 1px solid #333333;
}

img[alt$='><'] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

.right {
  float: right;
  text-align: right;
}

.profile_img,
.embed_img {
  background: #222;
  border-radius: 10px;  
  padding: 0 !important;
  margin: 10px;
  border: 2px solid #333;
}

.profile_img {
  height: 200px;
  width: 200px;
}

.embed_img {
  height: 500px;
  width: 500px;
}

@media (max-width: 600px) {
  .profile_img {
    display: block;
    max-width: 100%;
    text-align: center;
    margin: auto;
    float: none !important;
  }
}

.site-header {
  background-color: #111;
  border-top: 5px solid #111;
  border-bottom: 2px solid #222;
}

.site-footer {
  background-color: #111;
  border-top: 2px solid #222;
}

.footer-col-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-col:first-child {
  flex: 1;
}

.footer-col:last-child {
  flex: 2;
}

.contact-list li {
  margin-top: 0px;
}

.small-text {
  font-size: 0.8em;
}

#toc {
  border: 2px solid #303030;
  background-color: #202020;
  padding: 20px 40px;
  margin: 20px 0;
  li {
    list-style-type: disc;
  }
}

.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed $border-color-01;
      }
    }
  }
}
