img[alt$=">"] {
  padding-left: 5px;
  float: right;
}

img[alt$="<"] {
  padding-right: 5px;
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

.right {
  float: right;
  text-align: right;
}
