img[alt$='>'] {
  padding-left: 5px;
  float: right;
}

img[alt$='<'] {
  padding-right: 5px;
  float: left;
}

img[alt$='><'] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

.right {
  float: right;
  text-align: right;
}

.profile_img {
  background: black;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

@media (min-width:320px) {
  .profile_img {
    margin: auto;
    text-align: center;
  }
}

ul#toc {
  list-style-type: none;
}
